*{
	box-sizing: border-box;  /*одинаковая ширина для всех боксов*/

}

main::after{ /*псевдо класс, который позволяет добавить в конец*/
	clear: both;
	display: block;
	content: "";


}

/*navigation*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #C6C8CA;
}

li a.active {
    color: #19F6EE;
    background-color: #4CAF50;

}

/*end navigation
*/

[class*="col-"]{/*  вот так прописывается для всех классов, имя которых начинается на col*/
	float: left;
	padding: 15px;


}
header{

	background-color: #CDF7F2;
	color: green;
	padding: 15px;

}

aside{
	background: #F9C6F6;
	color: #071688;
	padding: 15px;
	font-size: 12px;
}


[class*="col-"]{
	width: 100%;

}

@media(min-width: 600px){
	.col-m-1{
		width: 8.333333333333333%;
		 

	}
	.col-m-2{
		width: 16.66666666666667%;
		
	}
	.col-m-3{
		width: 25%;
		
	}
	.col-m-4{
		width: 33.33333333333333%;
		
	}
	.col-m-5{
		width: 41.66666666666667%;
		

	}
	.col-m-6{
		width: 50%;
		

	}
	.col-m-7{
		width: 58.33333333333333%;
		

	}
	.col-m-8{
		width: 66.66666666666666%;
		

	}
	.col-m-9{
		width: 75%;
		

	}
	.col-m-10{
		width: 83.33333333333333%;
		

	}
	.col-m-11{
		width: 91.66666666666666%;
		

	}
	.col-m-12{
		width: 100%;
		
	}

}

@media(min-width: 768px){
	.col-1{
		width: 8.333333333333333%;
		 

	}
	.col-2{
		width: 16.66666666666667%;
		
	}
	.col-3{
		width: 25%;
		
	}
	.col-4{
		width: 33.33333333333333%;
		
	}
	.col-5{
		width: 41.66666666666667%;
		

	}
	.col-6{
		width: 50%;
		

	}
	.col-7{
		width: 58.33333333333333%;
		

	}
	.col-8{
		width: 66.66666666666666%;
		

	}
	.col-9{
		width: 75%;
		

	}
	.col-10{
		width: 83.33333333333333%;
		

	}
	.col-11{
		width: 91.66666666666666%;
		

	}
	.col-12{
		width: 100%;
		
	}

}


